<!DOCTYPE html>
<html>

<head>
	<title>KHAREEDLO | HOME</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="css/animat.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	 crossorigin="anonymous">
	 <link rel="manifest" href="manifest.json">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<link rel="icon" type="image/png" sizes="72x72" href="images/icons/icon-72x72.png">
	<link rel="icon" type="image/png" sizes="144x144" href="images/icons/icon-144x144.png">
	<link rel="icon" type="image/png" sizes="512x512" href="images/icons/icon-512x512.png">	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="PWAGram">
	<link rel="apple-touch-icon" href="images/icons/icon-72x72.png" sizes="72x72">
	<link rel="apple-touch-icon" href="images/icons/icon-96x96.png" sizes="96x96">
	<link rel="apple-touch-icon" href="images/icons/icon-128x128.png" sizes="128x128">
	<link rel="apple-touch-icon" href="images/icons/icon-114x114.png" sizes="114x114">
	<link rel="apple-touch-icon" href="images/icons/icon-152x152.png" sizes="152x152">
	<link rel="apple-touch-icon" href="images/icons/icon-192x192.png" sizes="192x192">  
	<link rel="apple-touch-icon" href="images/icons/icon-384x384.png" sizes="384x384">
	<link rel="apple-touch-icon" href="images/icons/icon-512x512.png" sizes="512x512">  
	<meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
	<meta name="msapplication-TileColor" content="#fff">
	<meta name="theme-color" content="#3f51b5">
</head>

<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="logo">
						<a href="index.html">
							<img src="images/logo.png" style="width:300px;" class="animated fadeInLeft" alt="">
					</div>
				</div>
				<div class="col-sm-6"></div>
				<div class="header-right">
					<a class="account animated fadeInLeft" href="login.html" id="logIn">My Account</a>
					<div id="user" class="text-center"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-banner banner text-center animated fadeIn img-responsive img-fluid" style="max-width: 100%;height: auto;">

		<a href="post-ad.html" class="postBtn animated fadeInUp">Post Free Ad</a>

	</div>
	<!-- content-starts-here -->
	<div class="content">
		<div class="categories">
			<div class="container">
				<div class="col-md-2 focus-grid animated zoomIn">
					<a href="mobiles.html">
						<div class="focus-border">
							<div class="focus-layout">
								<div class="focus-image">
									<i class="fa fa-mobile"></i>
								</div>
								<h4 class="clrchg">Mobiles</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-2 focus-grid animated zoomIn">
					<a href="electronicsAppliances.html">
						<div class="focus-border">
							<div class="focus-layout">
								<div class="focus-image">
									<i class="fa fa-laptop"></i>
								</div>
								<h4 class="clrchg"> Electronics & Appliances</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-2 focus-grid animated zoomIn">
					<a href="cars.html">
						<div class="focus-border">
							<div class="focus-layout">
								<div class="focus-image">
									<i class="fa fa-car"></i>
								</div>
								<h4 class="clrchg">Cars</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-2 focus-grid animated zoomIn">
					<a href="bikes.html">
						<div class="focus-border">
							<div class="focus-layout">
								<div class="focus-image">
									<i class="fa fa-motorcycle"></i>
								</div>
								<h4 class="clrchg">Bikes</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-2 focus-grid animated zoomIn">
					<a href="furniture.html">
						<div class="focus-border">
							<div class="focus-layout">
								<div class="focus-image">
									<i class="fa fa-wheelchair"></i>
								</div>
								<h4 class="clrchg">Furnitures</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-2 focus-grid animated zoomIn">
					<a href="realEstate.html">
						<div class="focus-border">
							<div class="focus-layout">
								<div class="focus-image">
									<i class="fa fa-home"></i>
								</div>
								<h4 class="clrchg">Real Estate</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="trending-ads">
			<div class="container">
				<!-- slider -->
				<div class="trend-ads">
					<h2>Trending Ads</h2>
					<div id="indexLoader" class="load"></div>
					<ul id="flexiselDemo3">
						<li id="list1">
							

						</li>
						<li id="list2">

						</li>
						<li id="list3">

						</li>
					</ul>

					<script type="text/javascript">
						$(window).load(function () {
							$("#flexiselDemo3").flexisel({
								visibleItems: 1,
								animationSpeed: 1000,
								autoPlay: true,
								autoPlaySpeed: 5000,
								pauseOnHover: true,
								enableResponsiveBreakpoints: true,
								responsiveBreakpoints: {
									portrait: {
										changePoint: 480,
										visibleItems: 1
									},
									landscape: {
										changePoint: 640,
										visibleItems: 1
									},
									tablet: {
										changePoint: 768,
										visibleItems: 1
									}
								}
							});

						});
					</script>
					<script type="text/javascript" src="js/jquery.flexisel.js"></script>
				</div>
			</div>
			<!-- //slider -->
		</div>
		<div class="mobile-app">
			<div class="container">
				<div class="col-md-5 app-left">
					<a href="index.html">
						<img src="images/app.png" alt="">
					</a>
				</div>
				<div class="col-md-7 app-right">
					<h3>This App is the Easiest way for Selling and buying second-hand goods</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer eget turpis
						sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et condimentum nibh.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer section start-->
	<footer>
		<div class="footer-top">
			<div class="container">
				<div class="foo-grids">
					<div class="col-md-9 footer-grid">
						<h4 class="footer-head">Who We Are</h4>
						<p style="text-align:justify;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
							layout.It is a long established fact that a reader will be distracted by the readable content of a page when looking
							at its layout.It is a long established fact that a reader will be distracted by the readable content of a page when
							looking at its layout.It is a long established fact that a reader will be distracted by the readable content of a
							page when looking at its layout.It is a long established fact that a reader will be distracted by the readable content
							of a page when looking at its layout.It is a long established fact that a reader will be distracted by the readable
							content .
						</p>
					</div>
					<div class="col-md-3 footer-grid">
						<h4 class="footer-head">Contact Us</h4>
						<span class="hq">Our headquarters</span>
						<address>
							<ul class="location">
								<li>
									<i class="fa fa-map-marker fa-lg"></i> Main Bahadurabad Karachi</li>
								<li>
									<i class="fa fa-phone fa-lg"></i> +923471674062</li>
								<li>
									<i class="fas fa-envelope fa-lg"></i>
									<a href="mailto:info@example.com">mail@example.com</a>
								</li>
								<div class="clearfix"></div>
							</ul>
						</address>
					</div>
					<div class="clearfix"></div>

				</div>
			</div>
		</div>
		<div class="footer-bottom ">
			<div class="container-fluid text-center">
				<div class="footer-logo">
					<a href="index.html">
						<img src="images/logo.png" style="width:300px;" alt="">
					</a>
				</div>
				<div class="footer-social-icons">
					<ul>
						<li>
							<a class="facebook" href="#">
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a class="twitter" href="#">
								<span>Twitter</span>

							</a>
						</li>

						<li>
							<a class="googleplus" href="#">
								<span>Google+</span>
							</a>
						</li>

					</ul>
				</div>
				<div class="copyrights">
					<p> © 2018 Resale. All Rights Reserved | IRFAN ALI
						<a href="index.html">KHAREEDLO</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!--footer section end-->

	<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyCoaRqFgdUu6D_IZ9XZ_ag8J4lc0kRZYYs",
			authDomain: "developer-irfanali-olx-17899.firebaseapp.com",
			databaseURL: "https://developer-irfanali-olx-17899.firebaseio.com",
			projectId: "developer-irfanali-olx-17899",
			storageBucket: "developer-irfanali-olx-17899.appspot.com",
			messagingSenderId: "716478877040"
		};
		firebase.initializeApp(config);
		
	</script>
	<script>const url = '{{ url }}';</script>
	<script src="js/ad.js"></script>
</body>

</html>