<!DOCTYPE html>
<html lang="en">

<head>
    <title>KHAREEDLO | SHOW-AD</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/animat.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" sizes="72x72" href="images/icons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="144x144" href="images/icons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="512x512" href="images/icons/icon-512x512.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PWAGram">
    <link rel="apple-touch-icon" href="images/icons/icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="images/icons/icon-96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="images/icons/icon-128x128.png" sizes="128x128">
    <link rel="apple-touch-icon" href="images/icons/icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="images/icons/icon-384x384.png" sizes="384x384">
    <link rel="apple-touch-icon" href="images/icons/icon-512x512.png" sizes="512x512">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="theme-color" content="#3f51b5">

</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="images/logo.png" style="width:300px;" class="animated fadeInLeft" alt="">
                    </div>
                </div>
                <div class="col-sm-6"></div>
                <div class="header-right">
                    <a class="account animated fadeInLeft" href="login.html" id="logIn">My Account</a>
                    <div id="user" class="text-center"></div>
                </div>
            </div>
        </div>
    </div>
    <section id="view">
        
    </section>
    <!--footer section start-->
    <footer class="diff" style="position:relative;bottom:0;">
        <p class="text-center">&copy 2018 Resale. All Rights Reserved | Irfan Ali
            <a href="index.html" target="_blank">KHAREEDLO</a>
        </p>
    </footer>
    <!--footer section end-->
    <script>const url = '{{ url }}';</script>
    <script src="js/ad.js"></script>
</body>

</html>